<a href="https://colab.research.google.com/github/kamillaknudsen/tmdl/blob/main/tmdl_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
from google.colab import auth
import gspread
from google.auth import default

auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

In [35]:
shark_attacks = pd.read_csv("/content/sample_data/attacks.csv", encoding='latin-1')
shark_attacks
shark_attacks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [37]:
shark_attacks.drop(["Unnamed: 22", "Unnamed: 23"], axis=1, inplace=True)

In [36]:
shark_attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

[link text](https://docs.google.com/spreadsheets/d/1X0Ft--uvJDsQ6LIvuKm0PU-3hw_GalcwQ_WLDuX7ctM/edit?gid=1179288347#gid=1179288347)

In [38]:
shark_attacks.drop(["Case Number", "Year", "Location", "Name", "Injury",
         "Investigator or Source", "pdf", "href formula", "href",
         "Case Number.1", "Case Number.2", "original order"], axis=1, inplace=True)

In [39]:
shark_attacks.head()

,Date,Type,Country,Area,Activity,Sex,Age,Fatal (Y/N),Time,Species
0,25-Jun-2018,Boating,USA,California,Paddling,F,57,N,18h00,White shark
1,18-Jun-2018,Unprovoked,USA,Georgia,Standing,F,11,N,14h00 -15h00,NaN
2,09-Jun-2018,Invalid,USA,Hawaii,Surfing,M,48,N,07h45,NaN
3,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,N,NaN,2 m shark
4,04-Jun-2018,Provoked,MEXICO,Colima,Free diving,M,NaN,N,NaN,"Tiger shark, 3m"

In [40]:
shark_attacks['Fatal (Y/N)'] = shark_attacks['Fatal (Y/N)'].replace(['N'],0)
shark_attacks['Fatal (Y/N)'] = shark_attacks['Fatal (Y/N)'].replace(['Y'],1)
shark_attacks

,Date,Type,Country,Area,Activity,Sex,Age,Fatal (Y/N),Time,Species
0,25-Jun-2018,Boating,USA,California,Paddling,F,57,0,18h00,White shark
1,18-Jun-2018,Unprovoked,USA,Georgia,Standing,F,11,0,14h00 -15h00,NaN
2,09-Jun-2018,Invalid,USA,Hawaii,Surfing,M,48,0,07h45,NaN
3,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,0,NaN,2 m shark
4,04-Jun-2018,Provoked,MEXICO,Colima,Free diving,M,NaN,0,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN