<a href="https://colab.research.google.com/github/kamillaknudsen/tmdl/blob/main/tmdl_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
from google.colab import auth
import gspread
from google.auth import default

auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

In [56]:
shark_attacks = pd.read_csv("/content/attacks 3.csv", encoding='latin-1')
shark_attacks
shark_attacks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [57]:
shark_attacks.drop(["Unnamed: 22", "Unnamed: 23"], axis=1, inplace=True)

In [58]:
shark_attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

[link text](https://docs.google.com/spreadsheets/d/1X0Ft--uvJDsQ6LIvuKm0PU-3hw_GalcwQ_WLDuX7ctM/edit?gid=1179288347#gid=1179288347)

In [59]:
shark_attacks.drop(["Case Number", "Year", "Area", "Location", "Name", "Injury",
         "Investigator or Source", "pdf", "href formula", "href",
         "Case Number.1", "Case Number.2", "original order"], axis=1, inplace=True)

In [60]:
shark_attacks.head()

,Date,Type,Country,Activity,Sex,Age,Fatal (Y/N),Time,Species
0,25-Jun-2018,Boating,USA,Paddling,F,57,N,18h00,White shark
1,18-Jun-2018,Unprovoked,USA,Standing,F,11,N,14h00 -15h00,NaN
2,09-Jun-2018,Invalid,USA,Surfing,M,48,N,07h45,NaN
3,08-Jun-2018,Unprovoked,AUSTRALIA,Surfing,M,NaN,N,NaN,2 m shark
4,04-Jun-2018,Provoked,MEXICO,Free diving,M,NaN,N,NaN,"Tiger shark, 3m"

In [61]:
shark_attacks['Fatal (Y/N)'] = shark_attacks['Fatal (Y/N)'].replace(['N'],0)
shark_attacks['Fatal (Y/N)'] = shark_attacks['Fatal (Y/N)'].replace(['Y'],1)
shark_attacks

,Date,Type,Country,Activity,Sex,Age,Fatal (Y/N),Time,Species
0,25-Jun-2018,Boating,USA,Paddling,F,57,0,18h00,White shark
1,18-Jun-2018,Unprovoked,USA,Standing,F,11,0,14h00 -15h00,NaN
2,09-Jun-2018,Invalid,USA,Surfing,M,48,0,07h45,NaN
3,08-Jun-2018,Unprovoked,AUSTRALIA,Surfing,M,NaN,0,NaN,2 m shark
4,04-Jun-2018,Provoked,MEXICO,Free diving,M,NaN,0,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
shark_attacks.columns = ["Date", "Type", "Country", "Activity", "Sex", "Age", "Fatal", "Time", "Species"]

In [63]:
shark_attacks = shark_attacks.dropna(subset=['Fatal', 'Species', 'Activity', 'Country'])

In [64]:
import re
import string

def preprocess_text(text):

    text = text.lower()
    text = re.sub(r'\n', ' ', text)
    text = re.sub(r'\d', '', text)
    text = text.translate(str.maketrans("", "", string.punctuation))
    words = text.split()
    words = [re.sub(r'(.)\1{1,}', r'\1\1', word) for word in words]
    words = [word.strip() for word in words if len(word.strip()) > 1]

    text = " ".join(words)
    return text

In [65]:
shark_attacks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2830 entries, 0 to 6296
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2830 non-null   object
 1   Type      2830 non-null   object
 2   Country   2830 non-null   object
 3   Activity  2830 non-null   object
 4   Sex       2623 non-null   object
 5   Age       1941 non-null   object
 6   Fatal     2830 non-null   object
 7   Time      1743 non-null   object
 8   Species   2830 non-null   object
dtypes: object(9)
memory usage: 221.1+ KB

In [66]:
shark_attacks['Species'] = shark_attacks['Species'].apply(preprocess_text)
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("to", "").strip())
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("feet", "").strip())
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("less than", "").strip())
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("possibly", "").strip())
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("small", "").strip())
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("tall", "").strip())
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("brown", "").strip())
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("cm", "").strip())
shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("greycolored", "").strip())

def or_split(text):
    if "or" in text:
        return text.split("or")[0].strip()
    else:
        return text

shark_attacks['Species'] = shark_attacks["Species"].apply(or_split)

def len_strip(text):
    if len(text.split()) > 2:
        words = text.split()[:2]
        text = " ".join(words)
        return text
    else:
        return text

shark_attacks['Species'] = shark_attacks["Species"].apply(len_strip)

shark_attacks['Species'] = shark_attacks["Species"].replace({
 'shark': 'unknown',
 'juvenile blacktip': 'blacktip shark',
 'blacktip': 'blacktip shark',
 'tp shark': 'unknown',
 'whitetip reef': 'reef shark',
 'thought involve': 'unknown',
 'shark  blactip': 'blacktip shark',
 'p': 'unknown',
 'shark involvement': 'unknown',
 '': 'unknown',
 'yearold pound': 'unknown',
 'shark tiger': 'tiger shark',
 'spinner': 'spinner shark',
 'grey reef': 'reef shark',
 'juvenile white': 'white shark',
 'unknown but': 'unknown',
 'unidentified species': 'unknown',
 '\x93  shark\x94': 'unknown',
 '\x93\x94 shark': 'unknown',
 'bite diameter': 'unknown',
 'species unidentified': 'unknown',
 'grey col': 'unknown',
 'hammerhead': 'hammerhead shark',
 'shark bull': 'bull shark',
 'shark oth': 'unknown',
 'questionable incident': 'unknown',
 'large white': 'white shark',
 'shark  blacktip': 'blacktip shark',
 'shark was': 'unknown',
 'shark probably': 'unknown',
 'sh': 'unknown',
 'shark seen': 'unknown',
 'shark spinner': 'spinner shark',
 'young shark': 'unknown',
 'unidentified shark': 'unknown',
 'said involve': 'unknown',
 'bull': 'bull shark',
 'lb shark': 'unknown',
 'sixgill': 'unknown',
 'hammerhead sharko': 'hammerhead shark',
 'bull sandbar': 'bull shark',
 'maculpinnis': 'unknown',
 'local auth': 'unknown',
 'hand found': 'unknown',
 'h': 'unknown',
 'larger shark': 'unknown',
 'rep': 'unknown',
 'leucas': 'unknown'
})

<ipython-input-66-ef8635c3732b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks['Species'].apply(preprocess_text)
<ipython-input-66-ef8635c3732b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("to", "").strip())
<ipython-input-66-ef8635c3732b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("feet", "").strip())
<ipython-input-66-ef8635c3732b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("less than", "").strip())
<ipython-input-66-ef8635c3732b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("possibly", "").strip())
<ipython-input-66-ef8635c3732b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("small", "").strip())
<ipython-input-66-ef8635c3732b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("tall", "").strip())
<ipython-input-66-ef8635c3732b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("brown", "").strip())
<ipython-input-66-ef8635c3732b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("cm", "").strip())
<ipython-input-66-ef8635c3732b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(lambda text: text.replace("greycolored", "").strip())
<ipython-input-66-ef8635c3732b>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(or_split)
<ipython-input-66-ef8635c3732b>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].apply(len_strip)
<ipython-input-66-ef8635c3732b>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks['Species'] = shark_attacks["Species"].replace({

In [67]:
shark_attacks

,Date,Type,Country,Activity,Sex,Age,Fatal,Time,Species
0,25-Jun-2018,Boating,USA,Paddling,F,57,0,18h00,white shark
3,08-Jun-2018,Unprovoked,AUSTRALIA,Surfing,M,NaN,0,NaN,unknown
4,04-Jun-2018,Provoked,MEXICO,Free diving,M,NaN,0,NaN,tiger shark
6,03-Jun-2018,Unprovoked,BRAZIL,Swimming,M,18,1,Late afternoon,tiger shark
7,27-May-2018,Unprovoked,USA,Fishing,M,52,0,NaN,lemon shark
...,...,...,...,...,...,...,...,...,...
6276,Early 1930s,Unprovoked,BELIZE,Standing,M,16,1,NaN,tiger shark
6293,Before 1906,Unprovoked,AUSTRALIA,Fishing,M,NaN,1,NaN,blue pointer
6294,Before 1906,Unprovoked,AUSTRALIA,Fishing,M,NaN,1,NaN,blue pointer
6295,Before 1906,Unprovoked,AUSTRALIA,Fishing,M,NaN,1,NaN,blue pointers
6296,Before 1906,Unprovoked,AUSTRALIA,Swimming,M,NaN,1,NaN,unknown

In [68]:
shark_attacks["Activity"].value_counts().head(10)

Activity
Surfing          554
Swimming         322
Fishing          245
Spearfishing     231
Wading            72
Snorkeling        64
Diving            55
Scuba diving      51
Standing          46
Body boarding     40
Name: count, dtype: int64

In [69]:
def activity_split(text):
    if "/" in text:
        text = text.split("/")[0].strip()
        return text

    else:
        return text

shark_attacks["Activity"] = shark_attacks["Activity"].apply(activity_split)

def activity_finder(text):
    activities = ["Surfing", "Swimming", "Wading", "Spearfishing", "Standing", "Fishing", "Snorkeling", "Scuba diving", "boarding"]
    for i in range(len(activities)):
        if activities[i] in text:
            return activities[i]

    return "Other"

shark_attacks["Activity"] = shark_attacks["Activity"].apply(activity_finder)
shark_attacks = shark_attacks[["Type", "Country", "Activity", "Sex", "Age", "Species", "Fatal"]]
shark_attacks.head()

<ipython-input-69-72539925aae1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks["Activity"] = shark_attacks["Activity"].apply(activity_split)
<ipython-input-69-72539925aae1>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks["Activity"] = shark_attacks["Activity"].apply(activity_finder)

         Type    Country  Activity Sex  Age      Species Fatal
0     Boating        USA     Other   F   57  white shark     0
3  Unprovoked  AUSTRALIA   Surfing   M  NaN      unknown     0
4    Provoked     MEXICO     Other   M  NaN  tiger shark     0
6  Unprovoked     BRAZIL  Swimming   M   18  tiger shark     1
7  Unprovoked        USA   Fishing   M   52  lemon shark     0