<a href="https://colab.research.google.com/github/kamillaknudsen/tmdl/blob/main/tmdl_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
from google.colab import auth
import gspread
from google.auth import default

auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

In [18]:
# Open Google Sheet by Name
spreadsheet = gc.open("global_shark_attacks")  # Replace with actual sheet name
worksheet = spreadsheet.sheet1  # Or use `spreadsheet.worksheet("Sheet Name")`

# Convert to Pandas DataFrame
data = worksheet.get_all_records()
df = pd.DataFrame(data)

# Display first few rows
df.head()

,date,year,type,country,area,location,activity,name,sex,age,fatal_y_n,time,species
0,2023-05-13,2023,Unprovoked,AUSTRALIA,South Australia,Elliston,Surfing,Simon Baccanello,M,46,Y,10h10,White shark
1,2023-04-29,2023,Unprovoked,AUSTRALIA,Western Australia,"Yallingup, Busselton",Swimming,male,M,,N,11h20,1m shark
2,2022-10-07,2022,Unprovoked,AUSTRALIA,Western Australia,Port Hedland,Spearfishing,Robbie Peck,M,38,N,11h30,Bull shark
3,2021-10-04,2021,Unprovoked,USA,Florida,"Fort Pierce State Park, St. Lucie County",Surfing,Truman Van Patrick,M,25,N,,
4,2021-10-03,2021,Unprovoked,USA,Florida,"Jensen Beach, Martin County",Swimming,male,M,,N,12h00,

In [28]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6890 entries, 0 to 6889
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       6890 non-null   object
 1   year       6890 non-null   object
 2   type       6890 non-null   object
 3   country    6890 non-null   object
 4   area       6890 non-null   object
 5   location   6890 non-null   object
 6   activity   6890 non-null   object
 7   name       6890 non-null   object
 8   sex        6890 non-null   object
 9   age        6890 non-null   object
 10  fatal_y_n  6890 non-null   object
 11  time       6890 non-null   object
 12  species    6890 non-null   object
dtypes: object(13)
memory usage: 699.9+ KB

,date,year,type,country,area,location,activity,name,sex,age,fatal_y_n,time,species
count,6890,6890,6890,6890,6890,6890,6890,6890,6890,6890,6890,6890,6890
unique,5559,256,12,216,863,4428,1554,5639,7,159,9,398,1561
top,,2015,Unprovoked,USA,Florida,,Surfing,male,M,,0,,
freq,303,143,5065,2522,1174,565,1112,669,5545,2987,4804,3518,3118

In [29]:
df['fatal_y_n']=df['fatal_y_n'].replace(['N'], 0)
df['fatal_y_n']=df['fatal_y_n'].replace(['Y'], 1)
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6890 entries, 0 to 6889
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       6890 non-null   object
 1   year       6890 non-null   object
 2   type       6890 non-null   object
 3   country    6890 non-null   object
 4   area       6890 non-null   object
 5   location   6890 non-null   object
 6   activity   6890 non-null   object
 7   name       6890 non-null   object
 8   sex        6890 non-null   object
 9   age        6890 non-null   object
 10  fatal_y_n  6890 non-null   object
 11  time       6890 non-null   object
 12  species    6890 non-null   object
dtypes: object(13)
memory usage: 699.9+ KB

,date,year,type,country,area,location,activity,name,sex,age,fatal_y_n,time,species
0,2023-05-13,2023,Unprovoked,AUSTRALIA,South Australia,Elliston,Surfing,Simon Baccanello,M,46,1,10h10,White shark
1,2023-04-29,2023,Unprovoked,AUSTRALIA,Western Australia,"Yallingup, Busselton",Swimming,male,M,,0,11h20,1m shark
2,2022-10-07,2022,Unprovoked,AUSTRALIA,Western Australia,Port Hedland,Spearfishing,Robbie Peck,M,38,0,11h30,Bull shark
3,2021-10-04,2021,Unprovoked,USA,Florida,"Fort Pierce State Park, St. Lucie County",Surfing,Truman Van Patrick,M,25,0,,
4,2021-10-03,2021,Unprovoked,USA,Florida,"Jensen Beach, Martin County",Swimming,male,M,,0,12h00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6885,,,Sea Disaster,GREECE,Off Thessaly,,Shipwrecked Persian Fleet,males,M,,1,,
6886,,,Unprovoked,INDONESIA,Riau Province,"Natuna Islands, between Sumatra & Kalimantan i...",Swimming near anchored ship,a ship's engineer,M,,1,,
6887,,,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13 or 14,1,Afternoon,Bull shark
6888,,,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,,1,,
6889,,,Unprovoked,AUSTRALIA,Western Australia,,Pearl diving,Ahmun,M,,1,,

[link text](https://docs.google.com/spreadsheets/d/1X0Ft--uvJDsQ6LIvuKm0PU-3hw_GalcwQ_WLDuX7ctM/edit?gid=1179288347#gid=1179288347)